### IntelliJ IDEA ###
.idea/*
!.idea/codeStyles/**
!.idea/compiler.xml
!.idea/encodings.xml
!.idea/gradle.xml
!.idea/jarRepositories.xml
!.idea/kotlinc.xml
!.idea/misc.xml
!.idea/vcs.xml

### Kotlin ###
.kotlin

### Gradle ###
.gradle

### Misc ###
build/
publication/
publications/
